@page
@model GameModel
@{
    ViewData["Title"] = "Mordle";
}

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@{await Html.RenderPartialAsync("_TimeJsPartial.cshtml");}
}

<div class="text-center">
    <partial name="_TimePartial.cshtml" />

    @if (Model.game != null)
    {
        if (Model.game.win)
        {
            <partial name="_Win.cshtml" />
        }
        if (Model.game.lose)
        {
            <partial name="_Lose.cshtml" />
        }
    }

    <div class="tableParent">
        @if (!(Model.game is null))
        {
            <table class="center table w-50">
                <tbody>
                    @for (int i = 0; i < Model.game.maxGuesses; i++)
                    {
                        KeyValuePair<string, Mordle.MordleGame.Guess[]> item;
                        if (Model.game.guesses.Count > 0 && Model.game.guesses.Count > i)
                        {
                            item = Model.game.guesses.ElementAt(i);
                            <tr>
                                @for (int l = 0; l < item.Key.Length; l++)
                                {
                                    <td class=@item.Value[l].ToString()>@item.Key[l]</td>
                                }
                            </tr>
                        }
                        else
                        {
                            <tr>
                                @for (int l = 0; l < Model.game.wordToGuess.Length; l++)
                                {
                                    <td class="empty"> </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @if (Model.game is null)
        {
            <div>Guess the word!</div>
        }

        <!-- Show form only if player can make another guess -->
        @if (Model.game != null)
        {
            @if (!(Model.game.win || Model.game.lose))
            {
                <partial name="_GuessForm.cshtml" />
            }
        }
    </div>
