@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mordle</h1>
    <p class="center w-50">
        Mordle is a Worlde-like game with a little difference.<br>
        When guessing a word, the game doesn't tell you how much occurence of a letter there is if there is more than in the word to guess.
    </p>
    <a asp-page="/Game"><button>PLAY</button></a>
</div>
